# OpenOCD configuration for DAPLink (CMSIS-DAP) + STM32F303x8

source [find interface/cmsis-dap.cfg]
transport select swd

# STM32F303K8 はメイン SRAM が 12KB のため、
# OpenOCD が使用するワークエリアを小さめに制限する
set WORKAREASIZE 0x1000

source [find target/stm32f3x.cfg]

# DAPLink には SRST が無いことが多いので、SRST なしリセットにする
reset_config none
